body{font-family: 'Noto Serif', serif;
    margin: 0;

}

.yellow{color: rgb(170, 170, 12);}

h1{font-size: 60px;}

section{display: flex;
    margin-bottom: 120px;

}

.half-width{ width: 50%;
    padding-left: 5%;
}

.first-person{ width: 90%;}

.para{color: grey;}

.link-1{ display: inline-block;
    text-decoration: none;
    color: rgb(245, 43, 8);
    font-weight: 300;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 30px;
    border-radius: 5px;
    
}
.half-width-2{ width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.second-person{ width:70% ;}

.link-2{display: inline-block;
    text-decoration: none;
    color: rgb(245, 43, 8);
    font-weight: 300;
    background-image: linear-gradient(blue, cyan);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 10%;
}
.middle-bg{background-image: url(images/mid-border.jpg);
    background-repeat: no-repeat;
}
h2{font-size: 30px;}
.center{ color:grey;
    text-align: center;
}

.box{width:33%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 2%;
    margin-right:2% ;
    box-shadow: 5px 5px 5px 5px gray;

}

.box img{width:100%;}

.foot{text-align: center;
    background-color: darkcyan;
    padding-bottom: 30px;
    padding-top: 20px;
    

}